<section class="heading">
  <span class="page-title font-weight-bold font-italic">{{ title }}</span>
  <!-- routerLInk example -->
  &nbsp;
  <a routerLink="/movie-create">
    <img width="20" height="20" src="/assets/add-icon.png" title="Add New" />
  </a>
</section>
<div id="movieList-container">
  <table class="table table-hover table-striped">
    <thead>
      <th>ID</th>
      <th>Title</th>
      <th>Year</th>
      <th>Rating</th>
      <th>Director</th>
      <th>Action</th>
    </thead>
    <tbody>
      <tr *ngFor="let m of movieList">
        <td>{{ m.id }}</td>
        <td>{{ m.title }}</td>
        <td>{{ m.year }}</td>
        <td>{{ m.rating }}</td>
        <td>{{ m.director }}</td>
        <td>
          <!--<button (click)="delete(m.id)" class="btn btn-sm btn-danger"> 
            Remove
          </button>-->
          <a>
            <img
              src="/assets/delete.jpg"
              width="20"
              height="20"
              title="Delete Movie"
              (click)="delete(m.id)"
              id="delete-button"
            />
          </a>
          &nbsp;
          <a routerLink="/movie-edit/{{ m.id }}">
            <img
              src="/assets/pencil-icon.png"
              width="20"
              height="20"
              title="Edit Movie"
              id="edit-button"
            />
          </a>
          &nbsp;
          <a routerLink="/movie-detail/{{ m.id }}">
            <img
              src="/assets/details.png"
              width="20"
              height="20"
              title="Edit Movie"
              id="edit-button"
            />
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
