#form-container {
  margin: 0 auto;
  width: 30%;
  background-color: whitesmoke;
  border: 1px solid black;
  margin-bottom: 40px;
}
#button {
  display: flex;
  justify-content: center;
  padding-bottom: 15px;
}
