<h1 id="addCredit">Create Credit</h1>
<div id="form-container">
  <table class="table-striped">
    <tbody>
      <tr>
        <td>ID:</td>
        <td><input type="number" placeholder="0" /></td>
      </tr>
      <tr>
        <td>Movie ID:</td>
        <td><input type="number" placeholder="0" /></td>
      </tr>
      <tr>
        <td>Actor ID:</td>
        <td><input type="number" placeholder="0" /></td>
      </tr>
      <tr>
        <td>Role:</td>
        <td><input type="text" placeholder="Role" /></td>
      </tr>
    </tbody>
  </table>
  <button>Create Credit</button>
</div>
